.search {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 0 10px;
}

.search input {
  width: 100%;
  background: transparent;
  border: none;
  padding: 10px 0;
  font-size: 16px;
}

.search input:focus {
  outline: none;
}

.searchIcon {
  padding: 8px;
}
